.dropdown1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 60px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid var(--field-focus);
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

.expanded .dropdown-header {
    border-radius: 20px 20px 0 0;
}

.dropdown-header p {
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-primary);
}

.dropdown-header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded .dropdown-header .icon {
    rotate: 180deg;
}

.dropdown-content {
    width: 100%;
    max-width: 800px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    height: 0;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

.expanded .dropdown-content {
    height: 200px;
    padding: 20px;
    border: 2px solid var(--field-focus);
    border-top: none;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

.dropdown-content p {
    height: 0;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    max-height: 300px;
    color: var(--text-primary);
    overflow-y: auto;
}

.expanded .dropdown-content p {
    height: 100%;
    opacity: 1;
    transition: opacity 0.7s;
}