.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc(100%);
    background-color: var(--dashboard-background);
    padding: 15px;
    border-radius: 35px;
    box-sizing: border-box;
    overflow-x: auto;
}

.first-line,
.second-line {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.third-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
}

.user-team-dashboard-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    height: 152px;
    gap: 20px;
    width: calc(40% - 10px);
    background-color: var(--white);
    padding: 24px;
    box-sizing: border-box;
    color: var(--main-purple);
}

.user-team-dashboard-wrapper p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 50px;
    line-height: 60px;
}

.small-graph-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    height: 152px;
    width: calc((60%) / 3 - 10px);
    background-color: var(--white);
    padding: 24px;
    box-sizing: border-box;
}

.medium-graph-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    height: 152px;
    max-width: calc(50% - 5px);
    flex-grow: 1;
    background-color: var(--white);
    padding: 24px;
    box-sizing: border-box;
}

.large-graph-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    gap: 40px;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    max-width: calc(50% - 5px);
    max-height: 537px;
    padding: 24px;
    box-sizing: border-box;
}

.data-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    min-width: 160px;
}

.graph-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    color: var(--text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-title.centered {
    text-align: center;
}

.data-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.data-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.graph-total {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-primary);
}

.graph-total.align-right {
    justify-content: flex-end;
}

.increase-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 4px;
}

.increase-wrapper.align-right {
    justify-content: flex-end;
}

.increase-wrapper p {
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.increase-wrapper.negative svg {
    rotate: 180deg;
}

.increase-wrapper.hidden {
    display: none;
}

.graph-wrapper {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}